canvas {
    image-rendering: pixelated;
    position: relative;
    float: top;
}

.btn {
    width: 100%;
}

#startDraw
{
    background-color: green;
}

#hideBtn
{
    background-color: red;
}

#baseCanvas
{
    z-index: 0;
    position: absolute;
}

#drawCanvas
{
    z-index: 1;
    position: absolute;
    opacity: 50%;
}

.canvas
{
    position: relative;
    float: top;
    height: 4150px;
}

.btns
{
    position: relative;
    float: bottom;
}

table
{
    margin-left: auto;
    margin-right: auto;
}

th
{
    text-align: center;
}

div#FriendlyArtists
{
    float: left;
    background-color: green;
    width: 50%;
    text-align: center;
    align-content: center;
}

div#EnemyArtists
{
    float: right;
    background-color: red;
    width: 50%;
}

html *
{
    font-size: 50px;
}

#progressbar {
    border-style: solid;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
    text-align: center;
}


#progressbar>span {
    /* Adjust with JavaScript */
    width: 100%;
    height: 50px;
    position:absolute;
    left:0;
    right:0;
}

#progressbar>div {
    background-color: lightgreen;
    /* Adjust with JavaScript */
    width: 100%;
    height: 50px;
}